* {
  font-family: 'Noto Sans TC', sans-serif;
}

.box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  transition: box-shadow 0.4s ease;
}

.box:hover {
  box-shadow: 0 0 10px rgb(255, 208, 0); /* 黃色外光暈 */
}

h1 { 
  color: white;
  text-align: center;
  font-family: "Microsoft JhengHei", sans-serif;
  transition: text-shadow 0.4s ease, color 0.4s ease, font-size 0.4s ease;
}

h1:hover {
  text-shadow: 0 0 10px rgb(255, 208, 0); /* 黃色外光暈 */
  color: rgb(255, 208, 0); /* 黃色外光暈 */
  font-size: 40px;
}

.聯絡簿 {
  transition: box-shadow 0.4s ease;
}

.聯絡簿:hover {
  box-shadow: 0 0 10px rgb(0, 64, 255); /* 黃色外光暈 */
}

.聯絡簿 h1 {
  transition: text-shadow 0.4s ease, color 0.4s ease, font-size 0.4s ease;
}

.聯絡簿 h1:hover {
  text-shadow: 0 0 10px rgb(0, 64, 255); /* 黃色外光暈 */
  color: rgb(0, 64, 255); /* 黃色外光暈 */
  font-size: 40px;
}

.聯絡簿 li {
  transition: text-shadow 0.4s ease, color 0.4s ease, font-size 0.4s ease;
}

.聯絡簿 li:hover {
  text-shadow: 0 0 10px rgb(0, 64, 255); /* 黃色外光暈 */
  color: rgb(0, 64, 255); /* 黃色外光暈 */
  font-size: 18px;
}

h2 {
  font-size: 20px;
  transition: text-shadow 0.4s ease, color 0.4s ease, font-size 0.4s ease;
}

h2:hover {
  text-shadow: 0 0 10px rgb(255, 208, 0); /* 黃色外光暈 */
  color: rgb(255, 208, 0); /* 黃色外光暈 */
  font-size: 25px;
}

p {
  transition: text-shadow 0.4s ease, color 0.4s ease, font-size 0.4s ease;
}

p:hover {
  text-shadow: 0 0 10px rgb(255, 208, 0); /* 黃色外光暈 */
  color: rgb(255, 208, 0); /* 黃色外光暈 */
  font-size: 18px;
}

li {
  transition: text-shadow 0.4s ease, color 0.4s ease, font-size 0.4s ease;
}

li:hover {
  text-shadow: 0 0 10px rgb(255, 208, 0); /* 黃色外光暈 */
  color: rgb(255, 208, 0); /* 黃色外光暈 */
  font-size: 18px;
}

em {
  color: rgb(185, 185, 185);
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* 手機寬度（小於 600px）時變成單欄 */


body {
  background-image: url(img/background.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  color: white;
  padding: 0px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  background-color: rgb(0, 106, 255);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  transition: font-size 0.3s ease;
}



.teacher {
  background-color: rgb(128, 0, 255);
}

.buttons {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  gap: 50px;              /* 元素間距 */
  align-items: center;
  justify-content: center;
}

button:hover {
  font-size: 20px;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  .buttons {
    display: flex;
    flex-direction: row; /* 垂直排列 */
    gap: 50px;              /* 元素間距 */
    align-items: center;
    justify-content: center;
  }
}